@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  height: 100%;
}

@media (min-width: 1024px) {
  .lg-calc-width {
    width: calc(100% - 300px);
  }
}

@media print {
  @page {
    size: 80mm 240mm; /* width height for A4 */
    margin: 5px; /* You can adjust the margins as needed */
  }

  body * {
    visibility: hidden;
  }

  #printMe,
  #printMe * {
    visibility: visible;
  }
  td, th {
    padding: 0;
    margin: 0;
  }
  #printMe {
    position: absolute;
    left: 0px;
    top: 50px;
    font-size: 15px;
  }

  #printMe h1 {
    font-size: 20px;
  }
}
